/* TAILWIND DIRECTIVES */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./assets/css/variable.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: var(--fs-body);
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
