@import url("./assets/css/variable.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/**
  * TIPTAP RICH TEXT EDITOR
  * Default styles for the editor
  */
@import url(./components/tiptap-text-editor/editorStyle.css);

/* TAILWIND DIRECTIVES */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-group {
    @apply flex flex-col gap-1;
  }
  .form-label {
    @apply font-semibold text-gray-700;
  }
  .form-input {
    @apply block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500;
  }
  .input-error {
    @apply text-sm text-red-600;
  }
  /* BUTTONS */
  .btn-primary {
    @apply inline-flex items-center justify-center gap-2 px-4 py-2 font-medium text-white bg-primary-500 border border-transparent rounded-md shadow-sm hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 disabled:opacity-50 disabled:cursor-not-allowed;
  }
  /* CUSTOM CONTAINER */
  .outlet-container {
    @apply mx-auto sm:max-w-full md:max-w-full xl:max-w-[1500px];
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
