:root {
  /* COLORS */
  /* GRAY */
  --gray-50: #F0F0F0;
  --gray-100: #E0E0E0;
  --gray-200: #C2C2C2;
  --gray-300: #A3A3A3;
  --gray-400: #858585;
  --gray-500: #666666;
  --gray-600: #4D4D4D;
  --gray-700: #333333;
  --gray-800: #1A1A1A;
  --gray-900: #0A0A0A;
  /* PRIMARY  */
  --primary-50: #EBEEFA;
  --primary-100: #D7DCF4;
  --primary-200: #AFB9E9;
  --primary-300: #8695DD;
  --primary-400: #5E72D2;
  --primary-500: #364FC7;
  --primary-600: #293B95;
  --primary-700: #1B2864;
  --primary-800: #0E1432;
  --primary-900: #050814;
  /* SECONDARY  */
  --secondary-50: #FAEAEA;
  --secondary-100: #F4D4D4;
  --secondary-200: #E9AAAA;
  --secondary-300: #DF7F7F;
  --secondary-400: #D45555;
  --secondary-500: #C92A2A;
  --secondary-600: #972020;
  --secondary-700: #651515;
  --secondary-800: #320B0B;
  --secondary-900: #140404;

  /* OTHER VARIABLES: */

}